<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
    type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VisaPaymentFileGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GeneratePaymentFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="TestAppender"

    type="log4net.Appender.RollingFileAppender" >
      <file value="D:\AppLogs\VisaPaymentFiles\SFTPUpload\EMPSFTUpload.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender" />
    </root>
  </log4net>
  
  <appSettings>
    <add key="errorlog" value="C:\AppLogs\VISAPayment\"/>
    <!--<add key="CardApp" value="Data Source=172.25.31.201,1490;Initial Catalog=EChanelsT24;User ID=echanelusr;Password=($98uyt1#@);"/>-->
    <add key="CardApp" value="Server=10.0.41.101;database=EchanelsT24;User ID=sa;password=tylent;"/>
    <!--<add key="PostCard" value="Server=172.25.31.4;database=postcard;Persist Security Info=True;User ID=carduser;password=C@rdusr1"/>-->
    <add key="PostCard" value="data source=10.0.41.239;initial catalog=postcard;persist security info=True;User ID=olaniranqr;Password=Password12;"/>
    <add key="FioranoBaseUrl" value="http://172.18.4.77:1880/restgateway/services"/>
  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>